<div class="row">
  <div *ngIf="product" class="col-md-10 col-md-offset-1">
    <div class="col-sm-8">
      <div class="panel">
        <!--<div class="panel-heading">Pictures</div>-->
          <img class="center-block img-responsive image" src="{{(product.images[0]) ? product.images[0] : 'https://placehold.it/640x480'}}">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <!--<div class="panel-heading">Product Information</div>-->
        <div class="panel-body">
          <h4><b>{{product.title}}</b></h4>
          <p>{{product.description}}</p>
          <p class="price">{{product.price}} €</p>
          <div class="map-block">
            <sebm-google-map
              [latitude]="product.seller.location.lat"
              [longitude]="product.seller.location.lng"
              [scrollwheel]="false"
              [zoom]="15">
              <sebm-google-map-marker
                [latitude]="product.seller.location.lat"
                [longitude]="product.seller.location.lng"
                [iconUrl]="'assets/images/markerIcon2.png'">
              </sebm-google-map-marker>
            </sebm-google-map>
          </div>
          <hr>
          <div class="user-block">
            <a routerLink="/profile/view/{{(product.seller) ? product.seller._id : '0'}}"><img src="{{serverUrl + product.seller.picture}}"></a>
            <div class="text-block">
              <p>{{product.seller.fullname}}</p>
              <p class="stars">
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
                <i class="glyphicon glyphicon-star"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
