<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <masonry class="masonry" [options]="{ fitWidth: true, horizontalOrder: true, initLayout: true }">
    <masonry-brick class="masonry-brick" *ngFor="let product of productsList">
        <div class="thumbnail thumbnail-custom">
          <img class="product-image" src="https://placehold.it/240x150" alt="...">
          <div class="caption">
            <h4>{{ product.title }}</h4>
            <p>{{ product.description }}</p>
            <h4>{{ product.price }} €</h4>
            <div class="user-block">
              <img class="user-image" src="{{ setUserPicture(product) }}" alt="...">
              <span class="user-name">{{ (product.seller) ? product.seller.fullname : 'Username' }}</span>
              <span class="user-starts">*****</span>
            </div>
            <!--<p><a href="#" class="btn btn-primary" role="button">More...</a> <a href="#" class="btn btn-success" role="button">Buy it!</a></p>-->
          </div>
        </div>
    </masonry-brick>
  </masonry>
  </div>
</div>
