<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <div class="list-group">
      <p href="#" class="list-group-item active">My Products<span class="pull-right">{{productsList.length}} Products</span></p>
      <a class="list-group-item" *ngFor="let product of productsList">
        <img class="product-image" src="https://placehold.it/60x60">
        <div class="text-block">
          <h4 class="list-group-item-heading">
            {{product.title}}
          </h4>
          <!--<p class="list-group-item-text">-->
            <!--Description: {{product.description}}-->
          <!--</p>-->
          <p class="list-group-item-text">
            Price: {{product.price}}
          </p>
        </div>
        <div class="pull-right buttons-block">
          <button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
          <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
      </a>
      <p class="list-group-item active"></p>
    </div>
  </div>
</div>
