<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">

    <!-- BEGIN TABS FOR LOGGED PROFILE -->
    <div class="panel panel-primary">
      <div class="panel-heading">My Products</div>
      <div class="tabbable tabbable-padding" id="tabs-1">

        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#panel-selling" data-toggle="tab">Selling</a>
          </li>
          <li>
            <a href="#panel-sold" data-toggle="tab">Sold</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active tab-pane-padding" id="panel-selling">
            <app-pulser *ngIf="productsList.length == 0" [text]="'No items!'"></app-pulser>
            <div *ngIf="productsList.length > 0" class="list-group">
              <p href="#" class="list-group-item">Items<span class="pull-right">{{productsList.length}} Products</span>
              </p>
              <a class="list-group-item" *ngFor="let product of productsList; let count = index">
                <img *ngIf="product.category == 'console'" class="product-image" src="/assets/images/console.png">
                <img *ngIf="product.category == 'accessory'" class="product-image" src="/assets/images/accessory.png">
                <img *ngIf="product.category == 'game'" class="product-image" src="/assets/images/game.png">
                <div class="text-block">
                  <h4 class="list-group-item-heading"><b>{{product.title}}</b></h4>
                  <!--<p class="list-group-item-text">-->
                  <!--Description: {{product.description}}-->
                  <!--</p>-->
                  <p class="list-group-item-text">
                    Price: {{product.price}} €
                  </p>
                </div>
                <div class="pull-right buttons-block">
                  <a class="btn btn-link btn-rounded" title="Mark as sold!"><span class="glyphicon glyphicon-ok-sign btn-green"></span></a>
                  <a class="btn btn-link btn-rounded" title="Edit item" (click)="showEditForm(count)"><span class="glyphicon glyphicon-edit"></span></a>
                  <a class="btn btn-link btn-rounded" title="Delete item"><span class="glyphicon glyphicon-remove-sign btn-red"></span></a>
                </div>
              </a>
              <p class="list-group-item"></p>
            </div>
          </div>

          <div class="tab-pane tab-pane-padding" id="panel-sold">
              <app-pulser [text]="'No sold items!'"></app-pulser>
          </div>
        </div>

      </div>
    </div>
    <!-- END TABS FOR LOGGED PROFILE -->

  </div>
</div>

<app-modal [modalTitle]="'Update Product'" [closeButton]="false" #modalElement>
  <app-product-edit [product]="currentProduct"></app-product-edit>
</app-modal>

<ng-content></ng-content>
