.map-block {
  height: 300px;
}

.sebm-google-map-container {
  position: absolute;
  height: 300px;
  width: 100%;
  top: 51px;
  left: 0px;
}

.panel-custom {
  border-radius: 10px;
  margin-top: 22px;
  margin-left: 15px;
  position: absolute;
  width: 400px;
}

.profile-img-card {
  width: 150px;
  height: 150px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
}

.text-block {
  width: 50%;
  float: right;
  /*text-align: center;*/
}

.stars {
  color: #ffd809;
}
