<div>
  <masonry class="masonry" [options]="{ fitWidth: true, horizontalOrder: true, initLayout: true }">
    <masonry-brick class="masonry-brick" *ngFor="let product of productsList | filterBy:'title' :filterPattern">
      <div class="thumbnail thumbnail-custom">
        <a routerLink="/product/view/{{product._id}}" class="product-block">
          <img class="product-image" src="https://placehold.it/240x150" alt="...">
          <div class="caption">
            <h4><b>{{ product.title }}</b></h4>
            <p>{{ product.description }}</p>
            <h4>{{ product.price }} €</h4>
          </div>
        </a>
        <a *ngIf="!sellerId" routerLink="/profile/view/{{(product.seller) ? product.seller._id : '0'}}" class="user-block">
          <div>
            <img class="user-image" src="{{ setUserPicture(product) }}" alt="...">
            <span class="user-name">{{ (product.seller) ? product.seller.fullname : 'Username' }}</span>
            <span class="user-starts">
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
            </span>
          </div>
        </a>
      </div>
    </masonry-brick>
  </masonry>
</div>
