<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Sell something!
        </h3>
      </div>
      <div class="panel-body">
        <img id="profile-img" class="profile-img-card" src="assets/images/productPlaceholderBW.png"/>
        <p id="profile-name" class="profile-name-card"></p>

        <form role="form">

          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title"
                   [(ngModel)]="formInfo.title"/>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" placeholder="Enter some text"
                   [(ngModel)]="formInfo.description"></textarea>
          </div>

          <div class="form-group">
            <div>
              <label>Category</label>
            </div>
            <label class="radio-inline"><input type="radio" name="category" (click)="formInfo.category = 'console'"/>Console</label>
            <label class="radio-inline"><input type="radio" name="category" (click)="formInfo.category = 'accessory'"/>Accesory</label>
            <label class="radio-inline"><input type="radio" name="category" (click)="formInfo.category = 'game'"/>Game</label>
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Price" [(ngModel)]="formInfo.price"/>
          </div>

          <div class="form-group">
            <label for="picture">Profile picture</label>
            <div class="input-group">
                    <span class="btn btn-primary btn-file input-group-addon">
                        Browse… <input (change)="onChange()" type="file" id="picture" name="picture" multiple="">
                    </span>
              <input type="text" class="form-control" name="filename" placeholder="" [(ngModel)]="filename" readonly>
            </div>
            <br>
            <p class="help-block">
              Example block-level help text here.
            </p>
          </div>
          <button (click)="submit()" class="btn btn-primary">Sell item</button>
        </form>
      </div>
    </div>
  </div>

