.panel {
  margin-top: 100px;
}

.profile-img-card {
  width: 150px;
  height: 150px;
  margin: 0 auto 10px;
  display: block;
  border: solid 1px #cbcbcb;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

textarea {
  resize: vertical;
}
